.fa-sun {
  color: #ffc107;
}

.fa-moon {
  color: #ffffff; 
}

body {
  background-color: #ffffff;
  color: #000000;
}

.dark h1{
  color: #ffffff;
}

h1{
  color: #000000;
}

.dark #helpIcon{
  color: #ffffff;
}

.dark #ColorTable{
  background-color: #2f2f2f;
  color: #ffffff;
}

.dark #ColorTable #languageToggle{
  background-color: #ffffff;
  color: #2f2f2f;
}

.dark #languageTogglePhone{
  background-color: #ffffff;
  color: #2f2f2f;
}

.dark {
  background-color: #2f2f2f;
  color: #000000;
}